.cellWrapper {
  border: 1px solid #292574;
  // TODO add media for mobile

  box-shadow: 3px 3px 1px #ccc;
  -moz-box-shadow: 3px 3px 1px #ccc;
  -webkit-box-shadow: 3px 3px 1px #ccc;
  -khtml-box-shadow: 3px 3px 1px #ccc;

  &.marked {
    background-color: cornflowerblue;
    background-image: url("/images/flag.svg");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
  }

  &.empty {
    //background-color: aliceblue;
    background-image: url("/images/empty.png");
  }

  &.ship1v {
    background-color: #292574;
    background-image: url("/images/ship-1v.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  &.ship2v {
    background-color: aliceblue;
    background-image: url("/images/ship-2v.png");
  }
  &.ship3v {
    background-color: aliceblue;
    background-image: url("/images/ship-3v.png");
  }

  &.close {
    background-color: cornflowerblue;
  }
}
