@mixin cell {
  background-color: #292574;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  // todo apply for shots
  cursor: url("/images/red-cross.png") 1 1, auto;
  border: none;
}

.playerField {
  cursor: url("/images/green-plus.png") 1 1, auto !important;
  &:hover {
    border: 1px dotted #3a7205 !important;
  }
}

.cellWrapper {
  //border: 1px solid #292574;
  // TODO add media for mobile

  box-shadow: 3px 3px 1px #ccc;
  -moz-box-shadow: 3px 3px 1px #ccc;
  -webkit-box-shadow: 3px 3px 1px #ccc;
  -khtml-box-shadow: 3px 3px 1px #ccc;
  cursor: url("/images/weapon-sight-small.png") 1 1, auto;

  &:hover {
    border: 2px dotted #5e0101;
  }

  &.empty {
    //background-color: aliceblue;
    background-image: url("/images/empty.png");
  }

  &.shipX1_1 {
    @include cell;
    background-image: url("/images/ship-x1-1.png");
  }
  &.shipX1_v_1 {
    @include cell;
    background-image: url("/images/ship-x1-v-1.png");
  }

  &.shipX2_1 {
    @include cell;
    background-image: url("/images/ship-x2-1.png");
  }
  &.shipX2_2 {
    @include cell;
    background-image: url("/images/ship-x2-2.png");
  }
  &.shipX2_v_1 {
    @include cell;
    background-image: url("/images/ship-x2-v-1.png");
  }
  &.shipX2_v_2 {
    @include cell;
    background-image: url("/images/ship-x2-v-2.png");
  }

  &.shipX3_1 {
    @include cell;
    background-image: url("/images/ship-x3-1.png");
  }
  &.shipX3_2 {
    @include cell;
    background-image: url("/images/ship-x3-2.png");
  }
  &.shipX3_3 {
    @include cell;
    background-image: url("/images/ship-x3-3.png");
  }
  &.shipX3_v_1 {
    @include cell;
    background-image: url("/images/ship-x3-v-1.png");
  }
  &.shipX3_v_2 {
    @include cell;
    background-image: url("/images/ship-x3-v-2.png");
  }
  &.shipX3_v_3 {
    @include cell;
    background-image: url("/images/ship-x3-v-3.png");
  }

  &.shipX4_1 {
    @include cell;
    background-image: url("/images/ship-x3-1.png");
  }
  &.shipX4_2 {
    @include cell;
    background-image: url("/images/ship-x3-2.png");
  }
  &.shipX4_3 {
    @include cell;
    background-image: url("/images/ship-x3-2.png");
  }
  &.shipX4_4 {
    @include cell;
    background-image: url("/images/ship-x3-3.png");
  }

  &.shipX4_v_1 {
    @include cell;
    background-image: url("/images/ship-x3-v-1.png");
  }
  &.shipX4_v_2 {
    @include cell;
    background-image: url("/images/ship-x3-v-2.png");
  }
  &.shipX4_v_3 {
    @include cell;
    background-image: url("/images/ship-x3-v-2.png");
  }
  &.shipX4_v_4 {
    @include cell;
    background-image: url("/images/ship-x3-v-3.png");
  }

  &.close {
    background-color: cornflowerblue;
  }
}
