.field {
  display: grid;
  width: 50vmin;
  height: 50vmin;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
}

.rivalFieldShootingAvailable {
  //border: 1px solid #507fff;
  background-color: #4875b9b8;
}

.waiting {
  opacity: 0.65;
}
